{
  "extends": [
    "stylelint-config-sass-guidelines"
  ],
  "customSyntax": "postcss-scss",
  "rules": {
    "scss/at-rule-no-unknown": [
      true,
      {
        "ignoreAtRules": [
          "tailwind",
          "if",
          "each",
          "include",
          "mixin",
          "apply"
        ]
      }
    ],
    "no-eol-whitespace": true,
    "max-empty-lines": 1,
    "declaration-block-trailing-semicolon": "always",
    "declaration-block-semicolon-newline-after": "always",
    "indentation": "tab",
    "declaration-empty-line-before": "never",
    "at-rule-empty-line-before": "never",
    "block-closing-brace-empty-line-before": "never"
  }
}